In [1]:
import numpy as np

import pandas as pd

from pandas_datareader import data as wb

import quandl

C:\Users\lucio\DataScience\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

# Hacer Dataframe a partir de listas

In [2]:
tickers = ['XOM','T','KO','IBM','CVX','CSCO','JPM','MMM','BAC','PG','PFE','JNJ']

In [3]:
for i in tickers:
    nombre_df = str(i)
    globals()[nombre_df] = pd.DataFrame(columns=[nombre_df])

In [4]:
for i in tickers:
    nombre_df = str(i)
    globals()[nombre_df] = pd.DataFrame(columns=[nombre_df])
    
    #funcion que quiero automatizar
    globals()[nombre_df] = wb.DataReader(nombre_df,data_source='yahoo', start='2020-5-5')

In [5]:
XOM.head(), T.head()

(                 High        Low       Open      Close      Volume  Adj Close
 Date
 2020-05-05  47.150002  44.660000  46.259998  44.830002  29276200.0  43.977310
 2020-05-06  45.270000  43.900002  44.930000  43.990002  22659000.0  43.153286
 2020-05-07  45.270000  43.970001  44.959999  44.240002  22160300.0  43.398533
 2020-05-08  46.220001  44.980000  45.310001  46.180000  19998700.0  45.301632
 2020-05-11  46.200001  45.509998  46.110001  45.740002  22226900.0  44.870003,
                  High        Low       Open      Close    Volume  Adj Close
 Date
 2020-05-05  30.180000  29.719999  29.740000  29.740000  24626100  29.740000
 2020-05-06  29.870001  28.790001  29.820000  28.790001  45094200  28.790001
 2020-05-07  29.200001  28.830000  29.170000  28.889999  31814300  28.889999
 2020-05-08  29.850000  29.209999  29.290001  29.790001  24047700  29.790001
 2020-05-11  29.650000  29.150000  29.650000  29.379999  29206400  29.379999)

# Hacer muchos Dataframe en un diccionario

In [6]:
tickers = ['XOM','T','KO','IBM','CVX','CSCO','JPM','MMM','BAC','PG','PFE','JNJ']

In [7]:
d = {}
for name in tickers:
    d[name] = pd.DataFrame()
    d[name] = wb.DataReader(name,data_source='yahoo', start='2020-5-5')

In [8]:
d['XOM'].head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-05-05  47.150002  44.660000  46.259998  44.830002  29276200.0  43.977310
2020-05-06  45.270000  43.900002  44.930000  43.990002  22659000.0  43.153286
2020-05-07  45.270000  43.970001  44.959999  44.240002  22160300.0  43.398533
2020-05-08  46.220001  44.980000  45.310001  46.180000  19998700.0  45.301632
2020-05-11  46.200001  45.509998  46.110001  45.740002  22226900.0  44.870003

# Hacer/Leer CSV

In [9]:
import pandas as pd

In [1]:
# mydata_01 = quandl.get("FRED/GDP")

In [ ]:
mydata_01.to_csv(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.csv')

In [ ]:
mydata_02 = pd.read_csv(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.csv')

mydata_02.head(1)

# Hacer/Leer Excel

In [ ]:
mydata_01.to_excel(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.xlsx')

In [ ]:
mydata_02 = pd.read_excel(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.xlsx')
mydata_02.head(1)

# Index

Date to index

In [ ]:
mydata_02 = pd.read_csv(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.csv')

mydata_02.head(1)

In [ ]:
mydata_02 = pd.read_csv(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.csv', index_col='Date')

mydata_02.head(1)

Columna to index

In [ ]:
mydata_02 = pd.read_csv(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.csv')

mydata_02.head(1)

In [ ]:
mydata_02 = pd.read_csv(r'C:\Users\lucio\DataScience\Courses\4.-Python-for-Finance\0.Proyect\example_01.csv')
print(mydata_02.head(1))

mydata_02.set_index('Date', inplace=True)
mydata_02.head(1)

# Retornos

Simple return

In [20]:
PG= wb.DataReader('PG', data_source='yahoo', start = '2020-1-1')

In [21]:
PG['simple_return'] = PG['Adj Close'].pct_change(1)

In [22]:
PG['simple_return'] = (PG['Adj Close']/PG['Adj Close'].shift(1))-1

Log return

In [23]:
PG['log_return'] = np.log(PG['Adj Close']/PG['Adj Close'].shift(1))

In [24]:
PG['log_return'] = np.log(PG['Adj Close']) - np.log(PG['Adj Close'].shift(1))

In [25]:
#Log returns are simply the natural log of 1 plus the arithmetic return
PG['log_return'] = np.log(1 + PG['Adj Close'].pct_change(1))

# Covarianza y Corr

In [48]:
tickers = ['XOM','T','PG','PFE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2020-1-1')['Adj Close']

sec_data.head()

                  XOM          T          PG        PFE
Date
2020-01-02  68.567070  37.683826  121.868492  38.361916
2020-01-03  68.015823  37.877773  121.048851  38.156090
2020-01-06  68.538055  37.916561  121.216728  38.107082
2020-01-07  67.977135  38.062023  120.466217  37.979671
2020-01-08  66.952019  38.178391  120.979729  38.283508

In [49]:
log_returns = np.log(sec_data/sec_data.iloc[0]) 
log_returns.head()

                 XOM         T        PG       PFE
Date
2020-01-02  0.000000  0.000000  0.000000  0.000000
2020-01-03 -0.008072  0.005133 -0.006748 -0.005380
2020-01-06 -0.000423  0.006157 -0.005362 -0.006665
2020-01-07 -0.008641  0.009986 -0.011573 -0.010014
2020-01-08 -0.023836  0.013039 -0.007320 -0.002046

In [50]:
cov_matrix = log_returns.cov()
cov_matrix

          XOM         T        PG       PFE
XOM  0.049843  0.023102  0.009977  0.013425
T    0.023102  0.014207  0.005156  0.004331
PG   0.009977  0.005156  0.003168  0.003457
PFE  0.013425  0.004331  0.003457  0.006769

In [51]:
cov_matrix_a = log_returns.cov() *250
cov_matrix_a

           XOM         T        PG       PFE
XOM  12.460653  5.775479  2.494159  3.356231
T     5.775479  3.551628  1.289078  1.082719
PG    2.494159  1.289078  0.792123  0.864215
PFE   3.356231  1.082719  0.864215  1.692170

In [52]:
corr_matrix = log_returns.corr()
corr_matrix

          XOM         T        PG       PFE
XOM  1.000000  0.868168  0.793884  0.730902
T    0.868168  1.000000  0.768544  0.441652
PG   0.793884  0.768544  1.000000  0.746454
PFE  0.730902  0.441652  0.746454  1.000000